Flow 4.json
[{"id":"9669485.8baf2b8","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"3da298b6.e3d698","type":"http response","z":"9669485.8baf2b8","name":"","statusCode":"","headers":{},"x":650,"y":360,"wires":[]},{"id":"9695036b.62916","type":"debug","z":"9669485.8baf2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":420,"wires":[]},{"id":"137eb8ef.424347","type":"rpi-gpio in","z":"9669485.8baf2b8","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":460,"wires":[["c824927f.fc36f"]]},{"id":"c824927f.fc36f","type":"function","z":"9669485.8baf2b8","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["9695036b.62916"]]},{"id":"27e272a1.f400ae","type":"function","z":"9669485.8baf2b8","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["3da298b6.e3d698","9695036b.62916"]]},{"id":"b5ec7781.d67478","type":"http in","z":"9669485.8baf2b8","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":230,"y":300,"wires":[["27e272a1.f400ae"]]}]