Flow 5.json
[{"id":"77ec7d43.cb8df4","type":"tab","label":"流程5","disabled":false,"info":""},{"id":"547d9d01.2fbd14","type":"http in","z":"77ec7d43.cb8df4","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":270,"y":300,"wires":[["ef2a65cf.e533c8","82eeaa22.ab9728"]]},{"id":"ef2a65cf.e533c8","type":"function","z":"77ec7d43.cb8df4","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["5629da49.ee72f4"]]},{"id":"5629da49.ee72f4","type":"rpi-gpio out","z":"77ec7d43.cb8df4","name":"","pin":"12","set":"","level":"1","freq":"","out":"out","x":650,"y":320,"wires":[]},{"id":"82eeaa22.ab9728","type":"function","z":"77ec7d43.cb8df4","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["2db5e25.001681e","9971e650.3d5cf8"]]},{"id":"2db5e25.001681e","type":"http response","z":"77ec7d43.cb8df4","name":"","statusCode":"","headers":{},"x":660,"y":420,"wires":[]},{"id":"9971e650.3d5cf8","type":"debug","z":"77ec7d43.cb8df4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":520,"wires":[]},{"id":"8f1d1d4d.77173","type":"http in","z":"77ec7d43.cb8df4","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":160,"y":480,"wires":[["54230495.80510c","3471e762.905b48"]]},{"id":"54230495.80510c","type":"function","z":"77ec7d43.cb8df4","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["5629da49.ee72f4"]]},{"id":"3471e762.905b48","type":"function","z":"77ec7d43.cb8df4","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":640,"wires":[["9971e650.3d5cf8","2db5e25.001681e"]]}]