Flow 1.json
[{"id":"1a216f61.161261","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"84168b7b.9c2bb8","type":"rpi-gpio in","z":"1a216f61.161261","name":"Button","pin":"12","intype":"up","debounce":"25","read":true,"x":160,"y":240,"wires":[["1639c66a.a086ea","a83106bc.485878"]]},{"id":"1639c66a.a086ea","type":"debug","z":"1a216f61.161261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":160,"wires":[]},{"id":"5d84a50.1bc745c","type":"rpi-gpio out","z":"1a216f61.161261","name":"LED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":650,"y":300,"wires":[]},{"id":"a83106bc.485878","type":"switch","z":"1a216f61.161261","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":300,"wires":[["a9352884.12f538"],["82ed20b3.c86fd"]]},{"id":"a9352884.12f538","type":"change","z":"1a216f61.161261","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["5d84a50.1bc745c"]]},{"id":"82ed20b3.c86fd","type":"change","z":"1a216f61.161261","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":320,"wires":[["5d84a50.1bc745c"]]}]