Flow 3.json
[{"id":"8b75e40a.665968","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"deaaadf9.b29b6","type":"inject","z":"8b75e40a.665968","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["34da23a9.5a3f6c"]]},{"id":"34da23a9.5a3f6c","type":"function","z":"8b75e40a.665968","name":"Payload","func":"msg.headers={\n    deviceKey: \"3ZT9uZf82a9dOsyd\"\n    };\nmsg.payload= \"Temperature,,87.8\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["617e8e78.9f4dd"]]},{"id":"617e8e78.9f4dd","type":"http request","z":"8b75e40a.665968","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DZUhIsFK/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":360,"wires":[["ff263380.268f7","ab7d3601.e88578"]]},{"id":"ff263380.268f7","type":"http response","z":"8b75e40a.665968","name":"","statusCode":"","headers":{},"x":300,"y":480,"wires":[]},{"id":"ab7d3601.e88578","type":"debug","z":"8b75e40a.665968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":600,"wires":[]}]